@font-face {
    font-family: 'freebooter_scriptregular';
    src: url('fonts/freebsc_-webfont.woff2') format('woff2'),
         url('fonts/freebsc_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*Navbar style*/
#menu{
    font-size: 30px;
    color: black;
    padding-top: 15px;
}
nav{
    font-size: 50px;
}
h1{
    font-family: 'freebooter_scriptregular';
    font-weight: normal;
    font-style: normal;
    padding: 0px 0px 0px 470px;
    font-size: 55px;
}
/*Main style*/
h2{
    font-family: 'freebooter_scriptregular';
}
.me{
    height: 70%;
    width: 70%;
    margin: 50px 70px;
}
.text{
    margin: 50px 70px;
}